body {
    background-color: #F2EBE3;
}

.container {
    align-items: center;
}

.setObject {
    display: flex;
    width: 800px;
    margin: auto;
    border-radius: 2rem;
}

img {
    width: 400px;
}

.testContainer {
    background-color: #FCFCFD;
    padding: 2rem;
}

h2 {
    color: #273020;
}


h3, p {
    color: gray;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }